h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ccc;
    padding-left: 10px;
}
body {
  padding: 50px 100px;
  background-repeat: no-repeat;
}
html {
  background: url(http://i.imgur.com/cUeeGOk.jpg) black;
  background-size: cover;
  background-repeat: no-repeat;
}
