h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #cccccc;
    padding-left: 4px;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #aaaaaa;
}
body {
  padding: 20px 40px;
  background-repeat: no-repeat;
}
html {
  background: url(http://i.imgur.com/cUeeGOk.jpg) black;
  background-size: cover;
  background-repeat: no-repeat;
}
